<div class="container table-responsive-sm py-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr class="thead-tr">
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td scope="row">{{ usuario.id }}</td>
                <td scope="row">{{ usuario.nome }}</td>
                <td scope="row">
                    <a routerLink="/usuario/update/{{ usuario.id }}" class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </a>
                    <a routerLink="/usuario/delete/{{ usuario.id }}" class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </a>
                    <a class="view_list">
                        <i class="material-icons">
                            view_list
                        </i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>