table {
    margin-left: 100px;
}

h2 {
    margin: 90px 450px;
}

.edit {
    margin-right: 10px;
}

.delete {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.view_list > i {
    color: #070bff62;
}