<div class="form-class card"> 
    <div class="card-body">
        <div class="card-title">
            <h3>Excluir Usuário</h3>
        </div>
        <form>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" 
                    aria-describedby="nomeUsuario" [value]="usuario?.nome" name="nome" disabled readonly> 
            </div>
            <button type="button" class="btn btn-danger" (click)="deleteUsuario()">Excluir</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</div>
